[submodule "app/src/main/cpp/ThirdPart/mlt"]
	path = app/src/main/cpp/ThirdPart/mlt
	url = https://github.com/ab503044120/mlt.git
	branch = android
[submodule "app/src/main/cpp/ThirdPart/FFmpeg"]
	path = app/src/main/cpp/ThirdPart/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	tag = n6.0
