[submodule "app/src/main/cpp/ThirdPart/org.huihui.videoedit.mlt.mlt"]
	path = app/src/main/cpp/ThirdPart/org.huihui.videoedit.mlt.mlt
	url = https://github.com/ab503044120/org.huihui.videoedit.mlt.mlt.git
	branch = android
[submodule "app/src/main/cpp/ThirdPart/FFmpeg"]
	path = app/src/main/cpp/ThirdPart/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	tag = n6.0
# [submodule "app/src/main/cpp/ThirdPart/GLM"]
# 	path = app/src/main/cpp/ThirdPart/GLM
# 	url = https://github.com/g-truc/glm.git
# 	tag = 0.9.9.8
[submodule "app/src/main/cpp/ThirdPart/glm"]
	path = app/src/main/cpp/ThirdPart/glm
	url = https://github.com/g-truc/glm.git
